h1 {
    text-align: center;
    color: #020304db;
    font-family:Brush Script MT, Cursive;
    font-size: 180%;
}

.nav{
    width: 99%;
    height: 90px;
    display: flex;
    flex-direction: row;
    background-color: #95e0ff;
    justify-content: space-between;
    margin-left: 3px;
    margin-right: 3px; 
    border: 1px solid brown;  
    align-items: center;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;  
}

.logo{
    width: 85px;
    height: 85px;
    margin-left: 25px;
}

.slogo{
    width: 85px;
    height: 85px;
    margin-right: 25px;
}

body > head > h3 {
    text-align: center;
    
}

body {
    margin: 0;
}

#wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-left: 3px;
    margin-right: 3px;
    border: 1px solid #000000;
    padding-bottom: 35px; 
    height: 50vh; 
    width: 99%;
    background-color: #d5c3a074;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
}

.one {
    display: inline; 
    background-color: #433d3291; /* Button background color */ 
    color: #11100be8;
    border-radius: 4px; 
    font-size: 23px; 
    transition: background-color 0.2s ease; 
    border: none; 
    text-decoration: none; /* Remove underline from text */
    border: 1px solid #000000;
    padding-top: 50px;
    padding-bottom: 45px;
    text-align: center;
    width: 24%;
    font-weight: bold;
    font-family: Georgia, serif;
    height: 45%;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
}

.one:hover {
    background: #81c2ddcb;
}