.nav{
    width: 99%;
    height: 120px;
    display: flex;
    flex-direction: row;
    background-color: #dbb345c9;
    justify-content: space-between;
    margin-left: 3px;
    margin-right: 3px; 
    border: 1px solid brown;  
    align-items: center;
    font-size: 2em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
}

.logo{
    width: 100px;
    height: 100px;
    margin-left: 30px;
}

.slogo{
    width: 100px;
    height: 100px;
    margin-right: 30px;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
    background-color: #f4f4f4;
}

.logout-container {
    background-color: #d8b16d9d;
    border: 1px solid #000000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 99%;
    display: inline-block;
    margin-left: 3px;
    margin-right: 3px;
}
h1 {
    color: #110f0f;
}
.logout-button {
    display: inline-block;
    background-color: #ec1616c9; /* Red background */
    color: white; /* White text */
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none; /* Remove underline */
    border-radius: 5px;
    transition: background-color 0.3s;
}
.logout-button:hover {
    background-color: #e60000; /* Darker red on hover */
}