.nav{
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    background-color: #95e0ff;
    justify-content: space-between;
      
}
.logo{
    width: 70px;
    height: 70px;
}
.left-h{
    display: flex;
    flex-direction: row;
    background-color: yellow;
    justify-content: space-between;
}
.right-h{
    dispaly: block;
    background-color: pink;
    gap: 10px;
    padding: 2px;
    height: 48%;
}
.button {
  padding: 2px 6px;
  text-align: right;
  display: block;
  font-size: 6px;
  margin: 0;
}

body{
    margin: 0px;
}
.middle {
   
    font-size: 15px;
  overflow:auto;
}

.middle div {
  width:25%;
  float:left;
  display: flex;
  background-color: #dfffaa;
  margin: 0;
  padding: 0;
  grid-template-columns: 33% 33% 33% 40%;
}


