.nav{
    width: 99%;
    height: 90px;
    display: flex;
    flex-direction: row;
    background-color: #95e0ff;
    justify-content: space-between;
    margin-left: 3px;
    margin-right: 3px; 
    border: 1px solid brown;  
    align-items: center;
    font-family: 'Times New Roman', Times, serif;  
}
.logo{
    width: 85px;
    height: 85px;
    margin-left: 25px;
}

.slogo{
    width: 85px;
    height: 85px;
    margin-right: 25px;
}


body {
    margin: 0;
}

#wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-left: 3px;
    margin-right: 3px;
    border: 1px solid #000000;
    padding-bottom: 35px; 
    padding-top: 35px;
    height: 45vh; 
    width: 99%;
    background-color: #d5c3a074;
}

.one {
    display: inline; 
    background-color: #a4967baf; /* Button background color */ 
    color: #11100be8;
    border-radius: 4px; 
    font-size: 18px; 
    transition: background-color 0.3s ease; 
    border: none; 
    text-decoration: none; /* Remove underline from text */
    border: 1px solid #000000;
    padding-top: 65px;
    padding-bottom: 45px;
    text-align: center;
    width: 19%;
    font-weight: bold;
    font-family: Georgia, serif;
    height: 45%;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
}

.one:hover {
    background: #95e0ff;
}